body{
    background-color:#3e3a55;

}

header {
    background-color: #005bb7;
    padding: 15px;
    text-align: left;
    font-size: 35px;
    color: white;
}



.button{
    color: white;
    width: 200px;
    height: 40px;
    border: none;

}
.button1 {
    background-color: #005bb7;
}

.button2 {
    background-color: #003468;
}
