
@import "tailwindcss";

body{
    background-color: #332f43;
    height: 1200px;
    max-width: 1200px;
    max-height: 900px;
    font-family: garamond, serif;
    margin: 10px auto;
    color: white;
    border: 3px solid #003c7e;
    border-radius: 15px;
    box-shadow: 3px 3px 4px 3px #2c2f35, -3px 3px 4px 3px #2c2f35;
    background-clip: padding-box;
}

.test{
    background-color: #3E3A55;
    border-radius: 15px;
}

header {
    background-color: #005bb7;
    padding: 20px;
    text-align: left;
    font-size: 35px;
    color: white;
    width: 1195px;

}

.itswebsite{
    margin: 0 0 0 20px;
}

.square {
    height: 748px;
    width: 275px;
    padding: 0;
    border-radius: 0 0 0 15px;
    background-color: #005bb7;
    box-sizing: border-box;

}

.workSquare {
    height: 60vh;
    width: 75vw;
    border-radius: 0 25px 25px 0;
    background-color: #005bb7;

}

.otherSquare {
    height: 100dvh;
    width: 80dvw;


}



.button{
    border-radius: 25px 1px 1px 1px;
    width: 150px;
    height: 30px;
    border: none;
    cursor: pointer;


}
.button1 {
    background-color: #005bb7;
    color: white;
}

.button1:hover {
    background-color: #035cb6;
    color: #dddddd;
}

.button2 {

    background-color: #003468;
    color: grey;
}

.button2:hover {
    background-color: #00509f;
    color: whitesmoke;
}

.button3 {
    float: right;
    cursor: pointer;
    border-radius: 0 25px 25px 0;;
    background-color: #003468;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
}

