
@import "tailwindcss";

body{
    background-color:#3e3a55;
    color: white;

}

header {
    background-color: #005bb7;
    padding: 15px;
    text-align: left;
    font-size: 35px;
    color: white;
}

.square {
    position: relative;
    height: 500px;
    width: 350px;
    background-color: #005bb7;
    z-index: -1;
}



.button{
    width: 200px;
    height: 40px;
    border: none;

}
.button1 {

    background-color: #005bb7;
    color: white;
}

.button2 {

    background-color: #003468;
    color: grey;
}
